<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vdmNegocio.Properties.Settings.VendasMaisConnectionString"
            connectionString="Data Source=.;Initial Catalog=VendasMais;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vdmNegocio.Properties.Settings.VendaMaisConnectionString"
            connectionString="Data Source=JEFFERSON-PC\SQLEXPRESS;Initial Catalog=VendaMais;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>