<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vdmNegocio.Properties.Settings.csVendaMais" connectionString="Data Source=ERISSON-PC\SQLEXPRESS;Initial Catalog=VendaMais;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>