@{
    ViewBag.Title = "Produto";
    Layout = "~/Views/Shared/_lytPadrao.cshtml";
}

<div style="background-color: #000;">
    <div class="col-sm-2" style="background-color: #ff0000; height: 400px; overflow-y: scroll; ">
        <ul class="nav nav-tabs nav-pills">
            <li style="margin:5px;" class=" active" data-target="#carousel-imagens" data-slide-to="0">
                <img src="http://placehold.it/100x100" class="img-responsive" />
            </li>
            <li style="margin:5px;" data-target="#carousel-imagens" data-slide-to="1">
                <img src="http://placehold.it/100x100" class="img-responsive" />
            </li>
            <li style="margin:5px;" data-target=" #carousel-imagens" data-slide-to="2">
                <img src="http://placehold.it/100x100" class="img-responsive" />
            </li>
            <li style="margin:5px;" data-target=" #carousel-imagens" data-slide-to="2">
                <img src="http://placehold.it/100x100" class="img-responsive" />
            </li>
            <li style="margin:5px;" data-target=" #carousel-imagens" data-slide-to="2">
                <img src="http://placehold.it/100x100" class="img-responsive" />
            </li>
            <li style="margin:5px;" data-target=" #carousel-imagens" data-slide-to="2">
                <img src="http://placehold.it/100x100" class="img-responsive" />
            </li>
        </ul>
    </div>
    <div class="col-sm-6" style="padding: 20px; height: 400px;  background-color: #00ff90">

        <div id="carousel-imagens" class="carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="http://placehold.it/600x390" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://placehold.it/600x390" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://placehold.it/600x390" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="background-color:#b6ff00; height: 400px;">
        <h2>@ViewBag.Produto.nome</h2>
        <span>
            R$ 249,90
            8x de R$ 31,24 sem juros no cartão
        </span>
        <div class="panel panel-default panel-primary" >
            <div class="panel-heading" style="padding:5px;">
                <div class="panel-title">Tamanhos</div>
            </div>
            <div class="panel-body">
                <input class="bnt btn-primary" type="button" value="Adicionar no carrinho." />
            </div>
        </div> 
        <div>
            <input class="bnt btn-primary" type="button" value="Adicionar no carrinho." />
        </div>
    </div>
</div>

