@{
    ViewBag.Title = "ProdutoListar";
    Layout = "~/Views/Shared/_lytPadrao.cshtml";
}
<div class="row">
    @if (ViewBag.listaProduto != null)
    {
        foreach (var produto in ViewBag.listaProduto)
        {

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">@produto.preco</h4>
                        <h4>
                            <a href="produto?idProduto=@produto.id_produto">@produto.nome</a>
                        </h4>
                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="alert-danger">Não ha produtos cadastrados.</div>
    }
</div>
