@{
    ViewBag.Title = "ProdutoCadastrarImagem";
    Layout = "~/Areas/Admin/Views/Shared/_lytPadraoAdmin.cshtml";
}

<h2>ProdutoCadastrarImagem - @ViewBag.Mesagem</h2>

<form>
    <div>
        <label>Caminho da imagem</label>
        <input type="file" name="" />
    </div>
</form>