@{    
    ViewBag.Title = "ProdutoCadastrar";
    Layout = "~/Areas/Admin/Views/Shared/_lytPadraoAdmin.cshtml";
}


<h2>Cadastro de produto</h2>

@using (Html.BeginForm("ProdutoCadastrarSave", "Produto", FormMethod.Post, new { @class = "form-horizontal" }))
{


    <div class="form-group">
        <label>Nome:</label>
        <input class="form-control" type="text" name="nome" />
    </div>
    <div class="form-group">
        <label>Código de referência:</label>
        <input class="form-control" type="text" name="codigo_referencia" />
    </div>
    <div class="form-group">
        <label>Descrição detalhada:</label>
        <textarea class="form-control" name="descricao"></textarea>
    </div>
    <div class="form-group">
        <label>Preço:</label>
        <input class="form-control" type="text" name="preco" />
    </div>
    <div class="form-group">
        <label>Categoria:</label>
        <select class="form-control"  name="id_categoria">
           @foreach (var categoria in ViewBag.ListaCategoria)
            {
             <option value="@categoria.id">@categoria.nome</option>  
            }
        </select>
    </div>
    <div class="form-group">
        <label>SubCategoria:</label>
        <select class="form-control" type="text" name="id_sub_categoria">
            @foreach (var subcategoria in ViewBag.ListaSubCategoria)
            {
                <option value="@subcategoria.id">@subcategoria.nome</option>
            }
        </select>
    </div>

    <input type="submit" class="btn btn-primary " value="Cadastrar" />

}    